# Ignore folders
/logs/
/crash-reports/
/saves
/XaeroWorldMap/
/XaeroWorldWaypoints/
/XaeroWaypoints/
XaeroWaypoints_*/
/pfm/
/essential/
/local/
config/oculus.properties
config/oculus.properties
config/xaeroworldmap.txt
config/xaerominimap_entities.json
config/xaerominimap.txt
config/oculus.properties
config/oculus.properties
modernfix
fancymenu_data

# files
.curseclient
usernamecache.json
usercache.json